@model TestWcfSite.Models.SergeyDerkoModels.CalcModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Таблица умножения на - 2", "Table", "SergeyDerko")
        <br />
        @Html.ActionLink("Таблица умножения на - что угодно, параметр задается в строке :)", "TableOll", "SergeyDerko", new { a = 3 }, null)
        <br />
        @Html.ActionLink("Таблица умножения (очень кривая реализация, без StringBilder ;) )", "MultiplicationTable", "SergeyDerko")
        <br/>
        @Html.ActionLink("Воод данных Пользователя", "User_11", "SergeyDerko")
        <br />
        <h3>Простенький калькулятор</h3>
        @using (Html.BeginForm("Index", "SergeyDerko"))
        {
            @Html.TextBoxFor(a => a.First)

            <select name="math">
                <option>действие</option>
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>

            @Html.TextBoxFor(b => b.Second)
            <input id="Submit" type="submit" value="=" />
            if (ViewBag.res != null)
            {
                <strong> @ViewBag.res</strong>
            }
        }
        <h3>Результат действий  @ViewBag.First @ViewBag.Math @ViewBag.Second = @ViewBag.res</h3>
    </div>
</body>
</html>
