@model TestWcfSite.Models.AnastasiaNepomiluyev.Twitter

@using (Html.BeginForm("Twitter", "AnastasiaNepomiluyev", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Label("UserName on Twitter: ", new { @class = "control-label" })
    @Html.TextBox("UserName", Model.UserName, new {@class = "form-control"})<br />
    @Html.Label("Count Of Posts: ", new { @class = "control-label" })
    @Html.TextBox("CountOfPosts", Model.CountOfPosts, new { @class = "form-control" })<br />
    <input type="submit" value="Update"  class="btn btn-default"/>
    <br />
    <br />
    @Html.Label("Tweets: ")
}
@{
    if (Model.Posts != null)
    {
        foreach (var post in Model.Posts)
        {
            <div class="form-group has-success has-feedback">
                <blockquote class="blockquote-reverse">
                    @post
                    <footer>@String.Format("@{0}", @Model.UserName)</footer>
                    </blockquote>
</div>
        }
    }
}





