@using System.Text
@using System.Web.UI.WebControls
@using TestWcfSite.Models.AlekseyAntonov
@model TestWcfSite.Models.AlekseyAntonov.ServicesViewerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Перечень сервисов</title>
</head>
<body>
<div>
    <table>
        @{
            StringBuilder text = new StringBuilder();
            ServicesViewerModel oneService = new ServicesViewerModel();
            int count = oneService.AmountService();


            for (int i = 0; i < count; i++)
            {
                @Html.Raw("<tr>")
                @Html.Raw("<td name='@text'>")
                text = new StringBuilder();
                ServicesViewerModel temp=new ServicesViewerModel(i);
                text.Append(temp.BaseAddress);
                text.Append("\n");
                text.Append(temp.BehaviorName);
                text.Append("\n");
                text.Append(temp.EndpointBinding);
                text.Append("\n");
                text.Append(temp.EndpointContract);
                text.Append("\n");
                text.Append(temp.ServiceBehaviorConfiguration);
                text.Append("\n");
                text.Append(temp.ServiceName);
                @Html.Raw("</td>")
                @Html.Raw("<td>")
                <input id="Button1" type="button" value="@temp.ServiceName" />

                @Html.Raw("</td>")
                @Html.Raw("</tr>")
            }
        }
    </table>















</div>
</body>
</html>