@using System.Text
@using System.Web.UI.WebControls
@using ServicesViewerClientLib.ServicesViewerServiceReference
@using TestWcfSite.Models.AlekseyAntonov
@model TestWcfSite.Models.AlekseyAntonov.ServicesViewerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Перечень сервисов</title>
</head>
<body>
<div>
    <table width="700" border="1">
        @{
            foreach (var t in ViewBag.allServices)
            {
                @Html.Raw("<tr>")
                @Html.Raw("<td>")
                @Html.Raw("BaseAddress: " + t.BaseAddress + "<br/>");
                @Html.Raw("BehaviorName: " + t.BehaviorName + "<br/>");
                @Html.Raw("EndpointBinding: " + t.EndpointBinding + "<br/>");
                @Html.Raw("EndPointContract: " + t.EndpointContract + "<br/>");
                @Html.Raw("Service BehaviorConfiguration: " + t.ServiceBehaviorConfiguration + "<br/>");
                @Html.Raw("</td>")
                @Html.Raw("<td align='center'>")
                <input id="Button1" type="button" value="@t.ServiceName" />

                @Html.Raw("</td>")
                @Html.Raw("</tr>")
            }
        }
    </table>























</div>
</body>
</html>