@model TestWcfSite.Models.AlekseyAntonov.ServicesVeawerModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Перечень сервисов</title>
</head>
<body>
<div>
    <table>
        @{
            string text = "Text";
            int count = 0;
          @*//  ServicesVeawerModel temp=new ServicesVeawerModel(0);


            for(int i=0;i<temp.CountModels;i++)
            {
               // temp=new ServicesVeawerModel(i);
                //temp.
                //@Html.Raw("<tr>")
                text += Convert.ToString(count + 1);
                @Html.Raw("<td name='@text'>")
                @Html.Raw(ViewBag.List)


                @Html.Raw("</td>")
                @Html.Raw("<td>")
                // <input id="Button1" type="button" value="button" />
                @Html.Raw("</td>")
                @Html.Raw("</tr>")
            }*@
        }
    </table>







</div>
</body>
</html>