@model TestWcfSite.Models.Multiply


<tr>
    <th>
        @using (Html.BeginForm("Update", "SergeyPekhota",FormMethod.Post))
        {
            @Html.Label("Value:", Model.Value) <br/>
            @Html.TextBox("Value", Model.Value)<br/>
            @Html.Label("StartIndex:", Model.StartIndex)<br />
            @Html.TextBox("StartIndex", Model.StartIndex)<br />
            @Html.Label("Count:", Model.Count)<br />
            @Html.TextBox("Count", Model.Count)
            <input type="submit" value="Update"/>
        }
    </th>
</tr>
<tr>
    <td>
        @foreach (var expr in Model.Multy())
            {
            @Html.DisplayFor(m => expr)<br />
        }
    </td>
</tr>
