@model TestWcfSite.Models.PikhotaSerhiiModels.CurrencyConverter
@{
    ViewBag.Title = "Конвертер валют";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CurrencyConverter", "SergeyPekhota", FormMethod.Post))
{
    <div>
        @Html.Label("Я хочу")
        Купить:  @Html.RadioButton("act", "buy",true)
        Продать: @Html.RadioButton("act", "sell",false)
        <select name="toCurrency">
            @foreach (var currencyNames in Model.GetCurrencyNames())
            {
                <option value="@currencyNames">@currencyNames</option>
            }
        </select>
    </div>
    <div>
        @Html.Label("Сумма")
        @Html.TextBox("count")
        <select name="fromCurrency">
            <option value="UAH">UAH</option>
        </select>
    </div>
    <div>
        <input type="submit" name="Change" value="Результат" />
    </div>
            
}
<b>@ViewBag.Result @ViewBag.Currency</b>

